@keyframes disappear{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes grow {
    20%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    70%{
        transform: scale(0);
    }
}

@keyframes rotate {
    to{
        transform: rotate(359deg);
    }
}