@mixin pink-button {
    font-size: 16px;
    background-image: linear-gradient(354deg, $primary, $secondary);
    border-radius: 25px;
    border: none;
    color: #fff;
    height: 50px;
    padding : 0 22px;
    box-shadow: 2px 3px 10px rgba(30, 30, 30, 0.25);
    cursor: pointer;
    &:hover{
        opacity: 0.8;
        box-shadow: 2px 3px 10px rgba(30, 30, 30, 0.5);
        transition-duration: 0.3s;
    }
}