@mixin pink-button {
    font-size: 16px;
    background-image: linear-gradient(354deg, $primary, $secondary);
    border-radius: 25px;
    border: none;
    color: #fff;
    height: 50px;
    padding : 0 22px;
    @include box-shadow;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
        box-shadow: 2px 3px 10px rgba(30, 30, 30, 0.5);
        transition-duration: 0.3s;
    }
}
@mixin box-shadow{
    box-shadow: 2px 3px 10px rgba(30, 30, 30, 0.25); 
}

@mixin restaurant-card{
    height: 251px;
    margin-bottom: 18px;
    border-radius: 20px;
    @include box-shadow;
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .text_card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 24px 0 14px;
        i{
            font-size: 21px;
            position: relative;
            top: 5px;
        }
    }
    h3,p{
        margin: 0;
    }
}

@mixin new{
    position: relative;
    &::before{
        content: "Nouveau";
        position: absolute;
        top: 13px;
        right: 11px;
        padding: 6px 12px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 500;
        background-color: $tertiary;
        color: darken($tertiary, 40%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}