@media screen and (min-width: 1024px){

    .title{
        height: 100px;
        h1{
            font-size: 45px;
            padding: 0;
        }
        .fa-arrow-left{
            font-size: 37px;
            top: 32px;
        }
    }

    .location{
        height: 65px;
        i, p{
            font-size: 18px;
        }
    }

    .explore{
        gap: 90px;
        padding: 65px 36px;
        button{
            @include big-pink-button;
        }
        .explore_text{
            display: flex;
            align-items: center;
            gap: 90px;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 17px;
            }
            a{
                font-size: 18px;
            }
        }
    }


    .explain{
        padding: 0 36px;
        height: 272px;
        h2{
            padding-bottom: 41px;
            font-size: 25px;
        }
        .explain_card{
            .explain_littlecard{
                p{
                    font-size: 17px;
                }
                .fa-solid{
                    font-size: 23px;
                }
                .number{
                    font-size: 14px;
                }
            }
        }
    }

    .restaurant{
        height: 1030px;
        padding: 0 36px;
        h2{
            padding-bottom: 41px;
            font-size: 25px;
        }
        .container_restaurant{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .container_card{
                width: 49%;
                margin-bottom: 30px;
                img{
                    height: 80%;
                }
                i{
                    bottom: 50px;
                }
                a .restaurant_card{
                    height: 370px;
                }
            }
        }
    }

    .footer{
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .title_footer{
            padding: 0 90px 0 0;
            font-size: 40px;
        }
        a{
            padding-right: 28px;
        }
        i, p{
            font-size: 17px;
        }
    }

    .footer_menu{
        padding-top: 50px;
    }
    

    .photo_restaurant img{
        height: 560px;
    }

    .container_menu{
        max-width: 1440px;
        margin: auto;
        margin-top: -50px;
        border-radius: 20px;
        height: 674px;
        .title_restaurant{
            justify-content: center;
            h2{
                font-size: 40px;
            }
            i{
                font-size: 32px;
            }
        }
        .menu{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            >div{
                width: 30%;
                .dish{
                    .dish_card{
                        margin-top: 25px;
                        height: 90px;
                        align-items: center;
                        >div{
                            justify-content: space-evenly;
                        }
                    }
                }
            }
            h3{
                font-size: 26px;
            }
            hr{
                height: 5px;
                width: 66px;
            }
        }
        .order_button{
            .order{
                @include big-pink-button;
                width: 180px;
            }
        }
    }
}