@media screen and (max-width: 660px){
    .spinner{
        padding-right: 30px;
    }
    .circle{
        max-width: 30px;
        max-height: 30px;
        width: 30px;
        height: 30px;
        margin-right: -10px;
        p{
            font-size: 20px;
        }
        .fa-utensils{
            font-size: 50px;
            transform-origin: 25px 25px;
        }
    }    
    .shadow{
        margin-top: 20px !important;
    }
}