.explore{
    background-color: #F6F6F6;
    display: flex;   
    flex-direction: column;
    align-items: center; 
    padding: 39px 35px 57px;
    h2{
        text-align: center;
        margin: 0;
    }
    p{
        text-align: center;
        font-weight: 300;
        margin-bottom: 31px;
        margin-top: 11px;
        font-size: 15px;
    }
    .button{
        @include pink-button
    }
}
