.explore{
    background-color: #F6F6F6;
    display: flex;   
    flex-direction: column;
    align-items: center; 
    padding: 43px 35px 57px;
}
 
.explore h2{
    text-align: center;
    margin: 0;
    font-size: 19px;
}

.explore p{
    text-align: center;
    font-weight: 300;
    margin-bottom: 31px;
    margin-top: 20px;
    font-size: 15px;
}

.explore button{
    @include pink-button
}

