.title{
    @include box-shadow;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 63px;
    h1{
        font-weight: 100;
        margin: 0;
        font-size: 29px;
        padding-bottom: 5px;
    }
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50px;
    background-color: #EAEAEA;
    color: #353535;
    font-weight: 500;
    margin-left: -20px;
    i{
        color: #353535;
        font-size: 16px;
        padding-bottom: 3px;
    }
}