#restaurant{
    height: 1226px;
    background-color: #F6F6F6;
    padding: 0 21px;
    h2{
        margin: 0;
        padding: 52px 0 27px 0;
    }
}

.container_card{
    position: relative;
    @include heart-pink;
    i{
        position: absolute;
        bottom: 33px;
        right: 24px;
        font-size: 21px;
    }
}

.restaurant_card{
    @include restaurant-card
}

.new{
    @include new
}