@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

*{
    font-family: Roboto, serif;
}

h1, .title_footer, .circle p, .title_restaurant h2{
    font-family: 'Shrikhand', serif;
}

h2{
    font-size: 21px;
}